@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cole's Homepage";
}
    <!-- Header -->
    <h1>Cole Smith</h1><br /><br />
    <!-- Picture of Cole Playing Golf -->
    <img src="img/golf.jpg" alt="Cole playing golf with some friends" /><br /><br />
    <!-- Paragraph about IS 413 -->
    <p>
        I am very excited for IS413, Enterprise Application Development. Some of my favorite classes have been web development through javascript and python/django,
        so that gives me high hopes for this class as well. I hope to learn more about website development and add to my skillset through ASP.Net and C#.
    </p><br />

    <!-- Top 3 Careers -->
    <p class="bold">Here are the top 3 jobs I am interested in:</p>
    <ul>
        <li>Technology Consultant</li>
        <li>Developer</li>
        <li>Sports Data Analyst</li>
    </ul><br />

